@import "./fontes/Roboto_Mono";

body {
    background-color: #000000;
}

footer {
    background-color: #1B1B1B;
    padding: 2rem;
    margin-top: 2rem;
}

footer p {
    color: white;
}

header h1 {
    text-align: center;
    color: white;
    font-family: "Roboto_Mono", monospace;
}

/* configuracao dos perfis */
.profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px; /* espacamento entre perfis */
    margin-top: 100px;
}

/*especificacoes de Cada Quadrado do Perfil*/
div.profile {
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px #080808;
    max-width: 400px;
    /*Estilizacoes dos perfis*/
    background-color: #1B1B1B;
    color: white;
    font-family: Roboto Mono, monospace;
}
div.profile p {
    margin-bottom: 2rem;
}

div.profile a {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #62BA1B;
    max-width: 400px;
    background-color: #3F8E00;
    color: white;
    font-family: Roboto Mono, monospace;
    margin: 1rem;
}

img{
width: 120px;
height: 120px;
border-radius: 50%;
transition: transform 0.4s ease, box-shadow 0.4s ease;
margin-bottom: 15px;
}

img:hover {
transform: scale(2.2);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2{
font-size: 1.5rem;
margin-bottom: 3%;
}

p{
font-size: 1rem;
margin: 0;
}
